/* body*/
body {background-image: url("pics/leomo.jpg");

}

/* Layout*/
#header {
	background-image: url("pics/joker.png");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #25D1D8;
	padding: 5px;
	font-family: tahoma, verdana;
	
}

/* Navigation*/
#navigation {
	background-color: #92D5EF;
	font-family: franklin gothic;
	width: 960px;
	float: left;
	
}
#navigation ul {
	display: block;
	border: 5px solid, #FFF;
	margin: 0 1px 0 0;

}

#navigation li {
	background-color: #92D5EF;
	list-style-type: none;
	padding: 15px;
	float: left;
	
}

#navigation li a {
	background-color: #92D5EF;
	padding: 15px;
	
}

#navigation li a:hover {
	background-image: url("pics/knapp2.png");
	padding: 15px;
	
}

#navigation li a.active {
	background-image: url("pics/knapp3.png");
	padding: 15px;
}

#li {
	cursor: pointer;
}

/* Innehåll*/
#content {
	background-color: #FFF;
	padding: 5px;
	max-width: 600px;
	float: left;
	margin-left: 20px;
}


#container {
	background-color: #FFF;
	overflow: auto;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	
}

#text {
	background-image: url("pics/eye.png");
	background-repeat: no-repeat;
	border: 2px solid #CA26D6;
	border-radius: 8px;
	margin-top: 10px;
	padding: 5px;
	
}

/* högersida*/
#sidebar {
	border: 2px solid #CA26D6;
	width: 230px;
	float: right;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	
	
}

#sidebar li {
	list-style-type: none;
	
}

/* lägnstned*/
#footer {
	background-color: #1CE57B;
	width: 960px;
	float: left;

}

#footer li {
	list-style-type: none;
}

#fotruta1 {
	width: 450px;
	float: left;
	font-size: 12px;
}

#fotruta1 li{
	float: left;
	margin-left: 20px;
}

#fotruta2 {
	width: 450px;
	float: right;
}

#fotruta2 li{
	float: right;
	margin-right: 20px;
}


/* Typografi*/

#header h1 {
	font-family: chiller, tahoma, verdana;
	color: #CA26D6;
	margin-left: 20px;
}

#header p {
	font-family: helvetica, arial;
	color: #39125D;
	margin-left: 20px;
}

#text h3{
	margin-left: 70px;
}

#text p {
	margin-top: 50px;
}


p { 
	font-family: helvetica;
	color: #39125D;
}
	
h2 { color: #6AE5AF;

	}
	
#content li {
	font-family: georgia;
}

#content dt {
	font-family: georgia;
}
	
#content h3 {
	font-family: verdana;
	color: #1DB0EF;
}

#content h4 {
	font-family: verdana;
	color: #CA26D6;
}