/*
F�rger:
#25D1D8	head
#92D5EF	meny
#FFF	vitt
#CA26D6	ramar
#1CE57B	foot
/text
#CA26D6	h4
#39125D	p
#1DB0EF	h3
#6AE5AF	h2

Typografi:
tahoma				head+ extra
verdana				h4/h3
franklin gothic		Meny
chiller				head-rubrik
georgia				li/dd
helvetica			p
arial				extra

Bilder:
url("pics/leomo.jpg")
url("pics/joker.png")
url("pics/knapp2.png")
url("pics/knapp3.png")
url("pics/eye.png")
url("pics/sprites.png")
*/



/* body*/
body {background-image: url("pics/leomo.jpg");

}

/* header*/
#header {
	background-image: url("pics/joker.png");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #25D1D8;
	padding: 5px;
	font-family: tahoma, verdana;
	
}
#header h1 {
	font-family: chiller, tahoma, verdana;
	color: #CA26D6;
	margin-left: 20px;
	font-size: 36px;
}

#header p {
	font-family: helvetica, arial;
	color: #39125D;
	margin-left: 20px;
}

/* Navigation*/
#navigation {
	background-color: #92D5EF;
	font-family: franklin gothic;
	width: 960px;
	float: left;
	
}



#navigation li {
	
	background-color: #92D5EF;
	list-style-type: none;
	float: left;
	
}

#navigation li a.active {
	border: 2px dotted #CA26D6;
	padding: 15px;
}


#navigation li a {
	background-color: #92D5EF;
	padding: 15px;
	
}
/*sprites*/
#meny  a {
	width: 150px;
	height: 30px;
	display: block;
	background-image: url("pics/sprites.png");
	background-repeat: no-repeat;
	margin: 10px;
	text-indent: -1000px;
}

#start-icon {
	background-position: 0px 0px;
}
#start-icon:hover{
	background-position: 0px -60px;
	
}
#about-icon {
	background-position: 0px -130px;
}
#about-icon:hover{
	background-position: 0px -197px;
	
}
#labb-icon {
	background-position: 0px -270px;
}
#labb-icon:hover{
	background-position: 0px -345px;
	
}
#kontakt-icon {
	background-position: 0px -420px;
}
#kontakt-icon:hover{
	background-position: 0px -493px;
	
}
/*slut p� sprites*/


#li {
	cursor: pointer;
}

/* Inneh�ll*/
#content {
	background-color: #FFF;
	padding: 5px;
	max-width: 600px;
	float: left;
	margin-left: 20px;
}

#content li {
	font-family: georgia;
}

#content dt {
	font-family: georgia;
}
	
#content h3 {
	font-family: verdana;
	color: #1DB0EF;
}


#container {
	background-color: #FFF;
	overflow: auto;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	
}
/*blogginläggrutor*/
.text {
	background-image: url("pics/eye.png");
	background-repeat: no-repeat;
	border: 2px solid #CA26D6;
	border-radius: 8px;
	margin-top: 10px;
	padding: 5px;
	
}


.text p {
	margin-left: 2px;
	
}

.text h3{
	margin-left: 70px;
}

.text p {
	margin-top: 50px;
}

.left {
	float: left;
	border: 4px solid #FFF;
	
}

.right {
	border: 3px ridge #1CE57B;
	width: 300px;
	height: 169px;
	float: right;
}

/*tabell*/

td {
	border-width: 1px;
	border-color: #25D1D8;
	border-style: dotted;
	
}

table {
	border: 2px solid;
	border-color: #CA26D6;
	border-style: outset;
	border-radius: 8px;
	width: 400px;
	padding: 3px;
}
.jschanged {
    display: ;
    
}
.labbtable {
	display: none;
}
.thead {
	background-color: #25D1D8;
	color: #FFF;
	
}

.tbody {
	background-color: #FFF;
}

.tfoot {
	background-color: #1CE57B;
	color: #39125D;
}

th {
	font-family: franklin gothic, verdana;
}

/*presentationsrutor*/
.pressrutor {
	border: 2px solid #CA26D6;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
	
}
/*valuta*/
#theForm {
    
    
}

/* h�gersida*/
#sidebar {
	border: 2px solid #CA26D6;
	width: 230px;
	float: right;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	
	
}

#sidebar li {
	list-style-type: none;
	
}

/*nederst*/
#footer {
	background-color: #1CE57B;
	width: 960px;
	float: left;

}

#footer li {
	list-style-type: none;
}

#fotruta1 {
	width: 450px;
	float: left;
	font-size: 12px;
}

#fotruta1 li{
	float: left;
	margin-left: 20px;
}

#fotruta2 {
	width: 450px;
	float: right;
}

#fotruta2 li{
	float: right;
	margin-right: 20px;
}


/*l�sa*/
p { 
	font-family: helvetica;
	color: #39125D;
}
	
h2 { color: #6AE5AF;

	}
	
h4 {
	font-family: verdana;
	font-size: 14px;
	color: #CA26D6;
}

